

body {
    background-color: black;
    font-family: "Victor Mono", monospace;
}

/* Start Navigation */

header p {
    background-color: black;
    border: 3px #e0aaff;
    border-style: double;
    border-spacing: 3px;
}

span {
    float: right;
    margin-top: 2px;
}

.doubleBorder {
    border: 1px solid #e0aaff;
    border-radius: 20px;
    padding: 2px;
}

.doubleBorderInner {
    border: 1px solid #e0aaff;
    border-radius: 17px;
    padding: 2% 3%;
    background-color: white;
}

.doubleBorderInnerMid {
    border: 1px solid #e0aaff;
    border-radius: 17px;
    padding: 3px 10px;
    color: white; 
    background: rgb(36,0,70);
    background: linear-gradient(180deg, rgba(36,0,70,1) 30%, rgba(16,0,43,1) 75%);
}

.doubleBorderInner img {
    width: 10%;
    float: inline-end;
    margin-top: 2px;
}

.projectsCol {
    padding-top: 3.5px;
}

.home {
    font-weight: 700;
}

.infoIcons {
    border: 1px solid #e0aaff;
    background-color: white;
    border-radius: 10px;
    margin: 0 1%;
}

@media (min-width: 1440px) {
    .test {
        align-content: center;
        padding: 0px 2px;
        font-size: x-large;
    }

    .home {
        align-content: center;
        font-weight: 700;
        font-size: x-large;
    }

    .info {
        align-content: center;
        font-size: x-large;
    }

    .infoIcons {
        border-radius: 15px;
    }

}

/* Start Hero Row */

.hero p {
    font-weight: bold;
    font-size: 48px;
}

.heroOne {
    background-color: lightpink;
    border-radius: 20px;
    padding: 15%;
    margin-top: 1%;
}