

body {
    background: rgb(16,16,16);
    background: radial-gradient(circle, rgba(16,16,16,1) 75%, rgba(37,37,37,1) 100%);
    background-color: #101010;
    font-family: "Victor Mono", monospace;
}

@media (min-width: 1440px) {
    main {
        margin: 0 20%;
    }
}

/* Start Navigation */


header {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.navbar a {
    padding: 0 20px;
    color: #F2F0EF;
    text-decoration: none;
}

.navbar ul li {
    transition: transform 0.2s;
}

.navbar ul li:hover {
    transform: scale(1.1);
}

header ul {
    list-style-type: none;
}

.socialsIcon a {
    text-decoration: none;
}

.socialsIcon img {
    width: 8%;
    background-color: #F2F0EF;
    border: 1px solid #F2F0EF;
    border-radius: 50%;
}

@media (min-width: 1440px) {
    .socialsIcon img {
        width: 8%;
        transition: transform 0.2s;
    }

    .socialsIcon img:hover {
        transform: scale(1.1);
    }

    .topNav {
        margin: 0 20%;
    }
}

/* Start Hello World */

.helloWorld {
    margin-top: 7rem;
    margin-bottom: 7rem;
    padding-bottom: 9%;
    /* border-bottom: 1px solid lightgrey; */
}

.hero p {
    font-weight: 300;
    font-size: 440%;
    color: #F2F0EF;
}

.heroWords {
    border-radius: 20px;
    padding: 15%;
    justify-items: center;
    font-style: italic;
    transition: transform 0.2s;
}

.heroWords:hover {
    transform: scale(1.1);
}

.heroImg img {
    border-radius: 50%;
    box-shadow: 0px 0px 40px 0px lightgrey;
    opacity: 0.8;
}

.heroImg {
    transition: transform 0.2s;
}

.heroImg:hover {
    transform: scale(1.1);
}

.autoRotate {
    animation: spin 8s linear infinite;
}

@media (min-width: 1440px) {
    .hero p {
        font-size: 372%;
    }
}

@media (min-width: 768px) {

    .hero p {
        font-size: 320%;
    }

    .helloWorld {
        border-bottom: 1px solid lightgrey;
    }
}

@media (min-width: 427px) and (max-width: 768px) {

    .hero p {
        font-size: 220%;
    }

    .helloWorld {
        margin-top: 11rem;
        padding-bottom: 6rem;
    }
    
}

@media (max-width: 426px) {
    .hero p {
        font-size: 200%;
    }

    .helloWorld {
        margin-top: 11rem;
        padding-bottom: 12%;
    }

    .aboutMe {
        margin-top: 7rem;
    }
}

@keyframes spin {

    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}

/* Start About Me Section */

.aboutMe {
    margin-top: 10rem;
    border-radius: 30px;
    background: #252525;
    background: linear-gradient(0deg, rgba(37,37,37,1) 25%, rgba(16,16,16,1) 75%);
}

.rounded-circle {
    width: 150px;
    height: 150px;
    border: 2px solid black;
}

.kolbie {
    object-fit: cover;
    opacity: 0.9;
    transition: transform 1.0s;
}

.kolbie:hover {
    transform: rotate(360deg);
}

.locationIcon {
    width: 5%;
}

.locationWords {
    position: relative;
    right: 3%;
    font-size: smaller;
}

.aboutMe h1 {
    color: #F2F0EF;
}

.aboutMe p {
    color: #F2F0EF;
}

.kolbieCol {
    padding: 0;
}

.wavyHand {
    width: 10%;
}

.kolbieTitle {
    font-size: medium;
}

.availablePill {
    margin-bottom: 10px;
    box-shadow: 0px 0px 6px 0px #F2F0EF;
}

.billieQuote {
    letter-spacing: 1px;
    transition: transform 0.2s;
}

.billieQuote:hover {
    transform: scale(1.1);
}
 
.billieName {
    position: relative;
    left: 47%;
}

@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(16deg);
    }
    20% {
      transform: rotate(-6deg);
    }
    30% {
      transform: rotate(16deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(16deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .wavyHand:hover {
    animation: wave 2.1s 0.0s infinite;
    transform-origin: 75% 75%;
    display: inline-block;
  }

@media (min-width: 1440px) {

    .aboutMe h1 {
        font-size: xx-large;
    }

    .wavyHand {
        width: 12%;
    }

    .locationIcon {
        width: 8%;
    }
}

@media (min-width: 1024px) {

    .aboutMe h1 {
        font-size: xx-large;
    }

    .wavyHand {
        width: 12%;
    }

    .locationIcon {
        width: 7%;
    }
}


/* Projects */

.webDev {
    background: rgb(37,37,37);
    background: linear-gradient(180deg, rgba(37,37,37,1) 25%, rgba(16,16,16,1) 75%);
    padding: 20px;
    border-radius: 16px;
}

.projects h4 {
    color: #F2F0EF;
    border-top: 1px solid #F2F0EF;
}

.card {
    transition: transform ease 300ms;
}

.card:hover {
    transform: translate(0, -10px);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    background-color: #FFFAFA;
}

.card-footer {
    background-color: #F2F2F2;
}

.card-footer img {
    width: 10%;
}

.card-footer a {
    text-decoration: none;
}

.viewIconsWeb {
    position: relative;
    left: 25%;
}

.viewIconsWeb img {
    transition: transform 0.2s;
}

.viewIconsWeb img:hover {
    transform: scale(1.1);
}

.viewIconsCyber img {
    transition: transform 0.2s;
}

.viewIconsCyber img:hover {
    transform: scale(1.1);
}

.card-title {
    border-top: 1px solid lightgrey;
}

/* Cybersecurity */

.cyber {
    background: rgb(37,37,37);
    background: linear-gradient(0deg, rgba(37,37,37,1) 25%, rgba(16,16,16,1) 75%);
    padding: 20px;
    border-radius: 16px;
}

/* More */

.more {
    color: #F2F0EF;
    border-top: 1px solid #F2F0EF;
}

.more a {
    text-decoration: none;
    color: #F2F0EF ;
}

.more img {
    width: 5%;
    background-color: #F2F0EF;
    border-radius: 50%;
    border: 3px solid #F2F0EF;
    transition: transform ease 300ms;
}

h5:hover {
    transform: translate(10px, 0px);
}

/* Footer */

.footerNav {
    border-top: 1px solid black;
    margin: 0 3%;
}

.footerNav a {
    text-decoration: none;
}

.footerNav h5 {
    color: #F2F0EF;
    opacity: 0.8;
}

footer img {
    width: 3%;
    background-color: #F2F0EF;
    border: 1px solid #F2F0EF;
    border-radius: 50%;
    opacity: 0.8;
}

@media (min-width: 1440px) {
    .footerNav {
        margin: 0 20%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    footer img {
        width: 6%;
    }
}


/* CURRENTLY PAGE */

.currentlySection {
    text-align: -webkit-center;
    margin-top: 3%;
}

.currentlySection img {
    transition: transform ease 300ms;
}

.currentlySection img:hover {
    transform: scale(0.9);
}

.cyberRangeLg {
    border-radius: 10px;
    width: 90%;
}

.secPlusLg {
    width: 70%;
}

/* EDUCATION PAGE */

.educationSection {
    text-align: -webkit-center;
    margin-top: 15%;
    margin-bottom: 25%;
}

.educationSection img {
    transition: transform ease 300ms;
}

.educationSection img:hover {
    transform: scale(0.9);
}

.navSmall li {
    display: inline;
}

.navSmall a {
    color: #F2F0EF;
}



