

body {
    background-color: #101010;
    font-family: "Victor Mono", monospace;
}

/* Start Navigation */

header p {
    background-color: black;
    border: 3px #F2F0EF;
    border-style: double;
    border-spacing: 3px;
}

.doubleBorder {
    border: 1px solid #F2F0EF;
    border-radius: 20px;
    padding: 2px;
}

.doubleBorderInner {
    border: 1px solid #F2F0EF;
    border-radius: 17px;
    padding: 2% 3%;
    background-color: #F2F0EF;
}

.doubleBorderInnerMid {
    border: 1px solid #F2F0EF;
    border-radius: 17px;
    padding: 3px 10px;
    color: white; 
    /* background: rgb(22,1,57);
    background: linear-gradient(180deg, rgba(22,1,57,1) 30%, rgba(16,0,43,1) 75%); */

    background: rgb(5,85,112);
    background: linear-gradient(180deg, rgba(5,85,112,1) 30%, rgba(2,69,86,1) 75%);
}

.doubleBorderInner img {
    width: 10%;
    float: inline-end;
    margin-top: 2px;
}

.webPill {
    /* background-color: #EBBE4D; */
    background-color: #a0cc5b;
    float: right;
    margin-top: 2px;
}

.cyberPill {
    /* background-color: #950606; */
    background-color: #7b1e14;
    /* background-color: #f17b49; */
    float: right;
    margin-top: 2px;
}

.projectsCol {
    padding-top: 3.5px;
}

.home {
    font-weight: 700;
}

.info {
    background-color: #101010;
}

.infoIcons {
    border: 1px solid #F2F0EF;
    background-color: #F2F0EF;
    border-radius: 10px;
    margin: 0 1%;
}

@media (min-width: 1440px) {
    .test {
        align-content: center;
        padding: 0px 2px;
        font-size: x-large;
    }

    .home {
        align-content: center;
        font-weight: 700;
        font-size: x-large;
    }

    .info {
        align-content: center;
        font-size: x-large;
    }

    .infoIcons {
        border-radius: 15px;
    }

}

/* Start Hello World */

.helloWorld {
    margin-top: 7rem;
}

.hero p {
    font-weight: bold;
    font-size: 40px;
    color: #F2F0EF;
}

.heroWords {
    border-radius: 20px;
    padding: 15%;
    margin-top: 1%;
    justify-items: center;
}

.heroImg img {
    border-radius: 50%;
    box-shadow: 0px 0px 11px 0px lightgrey;
}

.autoRotate {
    animation: autoRotateAnimation;
    animation-timeline: view();
}

@keyframes autoRotateAnimation {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }  
}

/* Start About Me Section */

.aboutMe {
    margin-top: 5rem;
}

.rounded-circle {
    width: 150px;
    height: 150px;
}

.kolbie {
    box-shadow: 0px 0px 11px 0px lightgrey;
}

.locationIcon {
    width: 5%;
}

.availablePill  {

}



/* extra room */

.tester {
    font-size: 49px;
    padding: 30%;
}